 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 448px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-1 {
  padding: 19px 0 17px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 11px 0 0;
}

.u-section-1 .u-text-2 {
  width: 445px;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 11px 178px 0 44px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 11px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.625rem;
  width: 214px;
  margin: 3px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 438px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 30px 18px;
}

.u-section-1 .u-image-1 {
  width: 367px;
  height: 361px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 121px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 361px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    width: 355px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 277px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 307px;
    height: 302px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 518px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 262px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 768px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 116px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-2 .u-group-elements-1 {
  width: 322px;
  min-height: 191px;
  margin: 25px auto 0 48px;
}

.u-section-2 .u-image-2 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 124px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 15px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-2 .u-group-elements-2 {
  width: 331px;
  min-height: 191px;
  margin: -191px auto 0 393px;
}

.u-section-2 .u-image-3 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 129px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 79px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-2 .u-group-elements-3 {
  width: 345px;
  min-height: 213px;
  margin: -191px 48px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 124px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 42px 0 15px;
}

.u-section-2 .u-text-7 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-2 .u-group-elements-4 {
  width: 332px;
  min-height: 210px;
  margin: 28px auto 0 48px;
}

.u-section-2 .u-image-5 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 124px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 52px 0 15px;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  margin: 7px 0 0;
}

.u-section-2 .u-group-elements-5 {
  width: 331px;
  min-height: 192px;
  margin: -210px auto 0 393px;
}

.u-section-2 .u-image-6 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 129px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 46px;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-2 .u-group-elements-6 {
  width: 322px;
  min-height: 166px;
  margin: -192px 71px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 124px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 0 0 15px;
}

.u-section-2 .u-text-13 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  margin: 92px auto 17px 402px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-elements-2 {
    margin-left: 389px;
  }

  .u-section-2 .u-group-elements-5 {
    margin-left: 389px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 110px;
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: 209px;
  }

  .u-section-2 .u-group-elements-5 {
    margin-left: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1548px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 69px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-group-elements-1 {
    height: auto;
    margin-top: 16px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-2 {
    height: auto;
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-3 {
    min-height: 254px;
    margin-top: 7px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-elements-4 {
    height: auto;
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-5 {
    height: auto;
    margin-top: 13px;
    margin-left: auto;
  }

  .u-section-2 .u-group-elements-6 {
    height: auto;
    margin-top: 13px;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 455px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 18px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 21px auto 0;
}

.u-section-3 .u-group-elements-1 {
  width: 361px;
  min-height: 289px;
  height: auto;
  margin: 21px auto 0 149px;
}

.u-section-3 .u-image-1 {
  height: 285px;
  margin-top: 4px;
  margin-bottom: 0;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -289px 230px 0 50px;
  padding: 2px 12px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -29px 47px 0 auto;
  padding: 2px 12px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  line-height: 2.2;
  background-image: none;
  font-size: 1rem;
  margin: -241px 273px 0 auto;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  margin: 21px 284px 21px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 84px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 209px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-3 {
    margin-right: 157px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-elements-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    padding-left: 0;
    font-size: 0.875rem;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-top: 6px;
    margin-right: auto;
    margin-bottom: 18px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 288px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 15px auto 0;
}

.u-section-4 .u-image-1 {
  width: 396px;
  height: 223px;
  margin: 15px auto 0 127px;
}

.u-section-4 .u-text-2 {
  margin: -188px 57px 15px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 658px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 11px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.75rem;
  font-weight: normal;
  width: 880px;
  margin: 23px auto 0;
}

.u-section-5 .u-group-elements-1 {
  width: 322px;
  min-height: 191px;
  height: auto;
  margin: 37px auto 0 37px;
}

.u-section-5 .u-image-1 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 124px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: 3px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 0.875rem;
  margin: 8px 0 0;
}

.u-section-5 .u-group-elements-2 {
  width: 331px;
  min-height: 191px;
  height: auto;
  margin: -191px auto 0;
}

.u-section-5 .u-image-2 {
  width: 74px;
  height: 74px;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-5 .u-group-elements-3 {
  width: 345px;
  min-height: 191px;
  height: auto;
  margin: -191px 37px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 124px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 10px 0 0;
}

.u-section-5 .u-group-elements-4 {
  width: 331px;
  min-height: 192px;
  height: auto;
  margin: 23px auto 0 393px;
}

.u-section-5 .u-image-4 {
  width: 74px;
  height: 74px;
  margin: 0 auto 0 129px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1rem;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  font-size: 0.875rem;
  margin: 11px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 23px auto 23px 385px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-left: 245px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-left: 24px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-left: 369px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: 20px;
    margin-left: 571px;
  }

  .u-section-5 .u-group-elements-4 {
    margin-left: 369px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 178px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 188px;
    width: 720px;
  }

  .u-section-5 .u-group-elements-1 {
    margin-left: 37px;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-group-elements-3 {
    margin-left: auto;
  }

  .u-section-5 .u-group-elements-4 {
    margin-left: 389px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-left: 141px;
    width: 540px;
  }

  .u-section-5 .u-group-elements-4 {
    margin-left: 209px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-group-elements-1 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-5 .u-group-elements-2 {
    margin-top: 7px;
  }

  .u-section-5 .u-group-elements-3 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-elements-4 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    padding: 10px 22px 10px 21px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 820px;
}

.u-section-6 .u-text-1 {
  margin: 9px auto 0;
}

.u-section-6 .u-text-2 {
  width: 746px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px 17px;
  width: 703px;
  margin: 20px auto 0;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 17px 17px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 0.625rem;
  width: 214px;
  margin: 2px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2512px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2244px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2004px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1736px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1380px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1112px;
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 493px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-image-1 {
  width: 217px;
  height: 217px;
  margin: 7px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  width: 746px;
  margin: 7px auto 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin: 14px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 0.625rem;
  width: 214px;
  margin: 7px auto 14px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 669px;
}

.u-section-8 .u-text-1 {
  line-height: 2.475;
  margin: 11px auto 0;
}

.u-section-8 .u-image-1 {
  width: 570px;
  height: 97px;
  margin: 0 270px 0 auto;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  width: 746px;
  margin: 11px auto 0;
}

.u-section-8 .u-image-2 {
  width: 193px;
  height: 395px;
  margin: 13px auto 0 165px;
}

.u-section-8 .u-image-3 {
  width: 193px;
  height: 397px;
  margin: -396px auto 0 371px;
}

.u-section-8 .u-image-4 {
  width: 193px;
  height: 397px;
  margin: -397px auto 0 577px;
}

.u-section-8 .u-image-5 {
  width: 193px;
  height: 397px;
  margin: -397px auto 24px 782px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-8 .u-image-2 {
    height: 396px;
    margin-left: 83px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -397px;
    margin-left: 289px;
  }

  .u-section-8 .u-image-4 {
    margin-left: 495px;
  }

  .u-section-8 .u-image-5 {
    margin-top: 20px;
    margin-left: 665px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    margin-right: 150px;
  }

  .u-section-8 .u-text-2 {
    width: 720px;
  }

  .u-section-8 .u-image-4 {
    margin-top: 20px;
    margin-left: 445px;
  }

  .u-section-8 .u-image-5 {
    margin-left: 445px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 92px;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 20px;
    margin-left: 265px;
  }

  .u-section-8 .u-image-4 {
    margin-left: 265px;
  }

  .u-section-8 .u-image-5 {
    margin-left: 265px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1894px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    line-height: 1;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    height: 58px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-8 .u-image-3 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-4 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-8 .u-image-5 {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 13px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 296px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 15px auto 0;
}

.u-section-9 .u-accordion-1 {
  width: 500px;
  margin: 15px auto;
}

.u-section-9 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 2px 30px;
}

.u-section-9 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-1 {
  min-height: 116px;
  background-image: none;
  height: auto;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px 30px 60px;
}

.u-section-9 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 2px 30px;
}

.u-section-9 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-2 {
  min-height: 116px;
  background-image: none;
  height: auto;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 2px 30px;
}

.u-section-9 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-3 {
  min-height: 116px;
  background-image: none;
  height: auto;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-9 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 2px 30px;
}

.u-section-9 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-4 {
  min-height: 116px;
  background-image: none;
  height: auto;
}

.u-section-9 .u-container-layout-4 {
  padding: 20px;
}

.u-section-9 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 2px 30px;
}

.u-section-9 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-5 {
  min-height: 116px;
  background-image: none;
  height: auto;
}

.u-section-9 .u-container-layout-5 {
  padding: 20px;
}

.u-section-9 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  padding: 2px 30px;
}

.u-section-9 .u-icon-6 {
  height: 17px;
  width: 17px;
}

.u-section-9 .u-accordion-pane-6 {
  min-height: 116px;
  background-image: none;
  height: auto;
}

.u-section-9 .u-container-layout-6 {
  padding: 20px;
}

@media (max-width: 991px) {
  .u-section-9 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-accordion-1 {
    margin-top: 145px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-accordion-1 {
    margin-bottom: 11px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 443px;
}

.u-section-10 .u-image-1 {
  width: 100px;
  height: 100px;
  margin: 27px auto 0;
}

.u-section-10 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  margin: 28px auto 0;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  width: 746px;
  margin: 8px auto 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  margin: 27px auto 0;
}

.u-section-10 .u-text-3 {
  font-size: 0.625rem;
  width: 214px;
  margin: 7px auto 31px;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 7px;
    padding: 10px 18px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 0;
    margin-bottom: 19px;
  }
}